<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
   <!--EXCEPTION HANDLING-->
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, 
                   Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, 
                   Version=3.0.0.0, Culture=neutral, PublicKeyToken=70cf70c48ef4b25e"/>

    <!--APPLICATION LOGGING-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    
  </configSections>

  <!--*****************************************************************************************************-->
  <!--                                     DATA ACCESS CONFIG SECTION                                      -->
  <!--*****************************************************************************************************-->
  <connectionStrings>
    <add name="HrManagementDbEntities" connectionString="metadata=res://*/HrmModel.csdl|res://*/HrmModel.ssdl|res://*/HrmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CL-NKADURUWANA;initial catalog=HrManagementDb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--*********************************************************************************************************-->
  <!--                                       EXCEPTION HANDLING CONFIGURATIONS                                            -->
  <!--*********************************************************************************************************-->

  <!-- Exception handling policies configurations -->
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Hrm Exception Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, 
						         PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add type="Hrm.Common.ExceptionHandling.HrmExceptionHandler, 
                         Hrm.Common.ExceptionHandling" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

  <!--*********************************************************************************************************-->
  <!--                                       LOG4NET CONFIGURATIONS                                            -->
  <!--*********************************************************************************************************-->
  <log4net>

    <!-- SERVER LOGGER CONFIGURATION BEGIN -->
    <logger name="Info">
      <level value="INFO"/>
      <appender-ref ref="InfoFileAppender"/>
    </logger>

    <logger name="Error">
      <level value="ERROR"/>
      <appender-ref ref="ErrorFileAppender"/>
    </logger>

    <logger name="Debug">
      <level value="DEBUG"/>
      <appender-ref ref="DebugFileAppender"/>
    </logger>

    <!--File Appender for Info-->
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/HrmLogs/Server/FRW_Info.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="5000KB"/>
      <maxSizeRollBackups value="5"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss,fff} [%-5level] [%logger] [%thread] %file %type %property{ndc} - %message%newline"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>

    <!--File Appender for Errors-->
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/HrmLogs/Server/FRW_Error.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="5000KB"/>
      <maxSizeRollBackups value="5"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss,fff} [%-5level] [%logger] [%thread] %file %type %property{ndc} - %message%newline %exception%newline"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>

    <!--File Appender for Debug-->
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/HrmLogs/Server/FRW_Debug.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="5000KB"/>
      <maxSizeRollBackups value="5"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-dd HH:mm:ss,fff} [%-5level] [%logger] [%thread] %file %type %property{ndc} - %message%newline"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>

  </log4net>
  
    <!--*********************************************************************************************************-->
  <!--                                       APPSETTINGS CONFIGURATIONS                                            -->
  <!--*********************************************************************************************************-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
    <!--*********************************************************************************************************-->
  <!--                                       SYSTEM.WEB CONFIGURATIONS                                            -->
  <!--*********************************************************************************************************-->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
    <!--*********************************************************************************************************-->
  <!--                                       WCF SERVICE CONFIGURATIONS                                            -->
  <!--*********************************************************************************************************-->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
      <!--*********************************************************************************************************-->
  <!--                                       WEBSERVER CONFIGURATIONS                                            -->
  <!--*********************************************************************************************************-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
